*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url('image/background.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    z-index: 1;
}
.nav-bar{
    height: 80px;
    width: 100%;
    background-color:#1800f359;
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,.3);
    transition: all .3s;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 2;
}
.nav-bar ul{
   list-style-type: none;
}
.nav-bar ul li{
    display: inline;
    margin: 0 15px;
    line-height: 80px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #d8d6f5;
    font-size: 20px;
    font-weight: 600;
}
.nav-bar ul li a:hover{
    color: #000000a8;
    transition: .5s;
}
.underwork{
    text-align: center;
    font-size:30px;
    font-family: 'Architects Daughter', cursive;
}
span.animate{
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}
.greeting{
    margin: 15px 0px;
    text-align: center;
    font-size:55px;
    font-family: 'Architects Daughter', cursive;
}
.greeting p{
    padding: 10% 0;
}
.about-me{
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 33px 0 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(243, 237, 237, 0.2);
    border-radius: 15px;
    z-index: 2;
    box-shadow: 0px 0px 34px -7px rgba(0,0,0,0.75);
}
.text{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 26px;
    max-width: 100%;
}
.text h1{
    font-family: 'Caveat', cursive;
    background-color: rgba(0, 225, 255, 0.753);
    color: rgba(39, 39, 39, 0.897);
}
.roundImage img{
    width: 250px;
    border:4px solid rgb(255, 255, 255);
    border-radius: 100%;
    opacity: 100;
}

.flexbox-2{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 26px;
    justify-content:space-evenly;
    font-family: 'Caveat', cursive;
    flex-wrap: wrap;
    
}
.flexbox-2 div{
    margin: 6px;
    padding: 6px;
    width: 20vw;
    
}
.beginner,.intermediate,.advance{
    text-align: center;
}
.flexbox-2 div ul{
    margin: 0;
    padding: 0;
}

.flexbox-2 div div ul{
    list-style-type: none;
    text-align: center;
}

@media screen and (max-width: 711px) {
    .greeting{
        margin: 15px 0px;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Architects Daughter', cursive;
    }
}

@media screen and (max-width: 567px) {
    .flexbox-2 div{
        width: 100%;
    }
}
  
@media screen and (max-width: 374px) {
        
    .roundImage img{
        width: 140px;
        border:4px solid rgb(255, 255, 255);
        border-radius: 100%;
        opacity: 100;
    }
    .about-me{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(243, 237, 237, 0.2);
        border-radius: 15px;
        z-index: 2;
        box-shadow: 0px 0px 34px -7px rgba(0,0,0,0.75);
    }
    .nav-bar{
        height: 60px;
        overflow:scroll;
    }
    .nav-bar ul li{
        margin: 0 10px;
        line-height: 60px;
    }
    .nav-bar ul li a{
        font-size: 15px;
    }

  }

  span.animate:before{
      content: 'Front-End developer.';
      animation: animate infinite 5s;
  }
  @keyframes animate{
      20%{
        content: 'Graphic Designer.';
      }
      40%{
        content: 'Student.';
      }
      60%{
          content: 'Freelancer.';
      }
      80%{
          content: 'late night coder.';
      }

  }
